<div class="movie_list">
    <div class="pt-8 pb-2 mb-3 border-bottom">

        <div class="row">
            <h1>Watched Movies</h1>
        </div>

        <div class="row" *ngIf="(moviesList.length > 0); else noResults">

            <!-- Movie Card Start -->
            <div class="card-view" *ngFor="let movie of moviesList">
                <div class="card-header avengerEndgame">
                    <div class="card-header-icon">
                        <a href="#">
                            <i class="material-icons header-icon">play_arrow</i>
                        </a>
                    </div>
                </div>

                <div class="card-movie-content">
                    <div class="card-movie-content-head">
                        <a (click)="goToMovie(movie)">
                            <h3 class="card-movie-title">{{ movie[1] }}</h3>
                        </a>
                        <div class="ratings"><span>{{ movie[7] }} </span>/10</div>
                    </div>
                    <div class="card-movie-info">
                        <div class="movie-running-time">
                            <label>Release Date</label>
                            <span>{{ movie[3] }}</span>
                        </div>
                        <div class="movie-running-time">
                            <label>Running time</label>
                            <span>{{ movie[8] }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <ng-template #noResults>
            <p>No watched movies.</p>
        </ng-template>
    </div>

</div>