<div class="background"></div>
<div class="center">
    <div class="overlay-text">
        <h1>Films, séries Tv et bien plus en illimité.</h1>
        <h3>Où que vous soyez. Peu importe votre goût.</h3>
        <h5>Prêt à regarder NeoMovie ? Inscrivez-vous dès maintenant gratuitement.</h5>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-primary btn-lg button-display" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="goLogin()">Login</button>
        <button type="button" class="btn btn-secondary btn-lg button-display" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="goRegister()">Register</button>
    </div>
</div>